
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-mario {
    height: 200px;
}

button {
    color: white;
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px; 
    cursor: pointer;
}

.imagem-mario-luigi {
    height: 500px;
}

body {
    height: 100vh;
    
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

.caixa-principal {
    width: 40%;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    width: 100vw;
}

.mascara {
    height: 100%;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
  
}

p {
    color: white;
    font-size: 20px;
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.header img {
    height: 60px;
}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.header a:hover {
    color: #C51111;
    font-size: 26px;
    transition: .7s color ease-in-out;
}
.header a:hover{
    transition: .7s all ease-in-out;
}

 .formulario-fale-conosco {
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    left: -300px;
    top: 30%;
    padding: 20px;
    border-radius: 5px;
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18D80F;
}

textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18D80F;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    width: 100vw;
    height: 100vh;
}

.wtp:hover{
    transform: scale(1.1);
    transition: all .7s ease-in-out;
}
@media screen and (max-width:1030px){
    .imagem-mario-luigi{
        height: 400px;
    }
    p{
        font-size: 17px;
        text-align: left;
    }
       .caixa-mae{
        padding: 40px;
       }

       .header {
        justify-content: center;
       }
       video {
        height: 100vh;
        width: 100%;
        object-fit: cover;
       }
}
@media screen and (max-width: 820px) {
    .logo-mario {
        display: block;
        text-align: center;
        margin-top: auto;
    }
    
}

@media screen and (max-width: 806px){
    .caixa-mae{
        padding: 0;
        display: block;
       text-align: center;
    }
    .caixa-principal{
        width:100%;
    }
    .logo-mario{
        display: block;
        margin: 80px auto  0;

    }
    
    p {
        width: 500px;
        text-align: left;
        margin: 20px auto;
    }

    }

@media screen and (max-width: 768px) {
    .imagem-mario-luigi{
        margin-top: 50px;

    }
    
}

    @media screen and (max-width:600px){
        .header{
            display: none;
        }
        .caixa-video{
            height: 100vh;
            width: 100vw;
        }
        video{
            height: 100vh;
            object-fit: cover;
            width: 100%;
        }
        .imagem-mario-luigi{
            margin-top: 60px;
        }
        p{
            display: none;
        }
    }
